@{
    ViewBag.Title = "Graphs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/PieChart.css" rel="stylesheet" />
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="~/Scripts/Statistics/pieChart.js"></script>
<h2>Pie chart - Number of posts segmented by category.</h2>
<div id="pieChart">
</div>
