@{
    ViewBag.Title = "Graphs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/BarChart.css" rel="stylesheet" />
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="~/Scripts/Statistics/barChart.js"></script>
<h2>Popular posts - most commented posts in the blog.</h2>
<div class="body">
</div>
